body{
    background-color: yellow;
}
.container{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-left: 20rem;
}
.trans{
    width: 100px;
    height: 100px;
    background-color: rgb(72, 224, 72);
    margin: 1rem;
    transition-duration: 4s;
}
ol{
    margin-left: 16rem;
}
.trans1:hover{
    width: 300px;
}
.trans2:hover{
    width: 300px;
    height: 400px;
}
.trans3:hover{
    transition-duration: 1s;
    width: 300px;
}
.trans4:hover{
    transition-duration: 1.5s;
    width: 300px;
}
.trans5:hover{
    transition-duration: 2s;
    width: 300px;
}
.trans6:hover{
    transition-duration: 2.5s;
    width: 300px;
}
.trans7:hover{
    transition-duration: 3s;
    width: 300px;
}
a{
    display: block;
    width: 50%;
    margin: auto;
    font-size: 2rem;
    text-align: center;
}
a:hover{
    text-decoration: none;
}
